{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% include "home/header.html" %}
    <div class="space"></div>
    <h1 class="contactUs_title-text">Contact Us</h1>
    <div class="contact__us-body">
      <div class="contact-in">
        <div class="contact-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233667.82240266225!2d90.27924200137643!3d23.780887450522037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1623736873861!5m2!1sen!2sbd"
            width="100%"
            height="auto"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="contact-form">
          <div class="contactUs">
            <div class="home-contact__grid">
              <div class="home-contact__gridItem center">
                <h3 class="home__companyName">Company Name</h3>
                <div class="contact__iconText">
                  <i class="fa fa-map-marker"></i>
                  <h3 class="a__text">the full address of the address</h3>
                </div>
                <div class="contact__iconText">
                  <i class="fas fa-phone-alt"></i>
                  <h3 class="a__text">+123456789</h3>
                </div>
              </div>
              <div class="home-contact__gridItem">
                <div class="home-form">
                  <div class="row100">
                    <div class="col">
                      <div class="inputBox">
                        <input type="text" name="name" required />
                        <span class="ftext">Name</span>
                        <span class="line"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="inputBox">
                        <input type="email" name="email" required />
                        <span class="ftext">Email</span>
                        <span class="line"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="inputBox textarea">
                        <textarea required></textarea>
                        <span class="ftext">Your Message</span>
                        <span class="line"></span>
                      </div>
                    </div>
                    <input type="submit" value="submit" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "home/footer.html" %}
{% endblock content %}

{% block js %}
<script type="text/javascript">
    function initMap() {
        const uluru = { lat: -23, lng: 90};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }
</script>
 <script
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjT3A2XgyBSpX2UEk_1kSNkYjoMN_8Bb4&callback=initMap&libraries=&v=weekly"
     async>
 </script>

{% endblock js %}