{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% include "home/header.html" %}
    <section class="download">
      <div class="home_container">
        <div class="grid">
          <div class="grid-item">
            <div class="catalog">
              <div class="catalog_img">
                <img src="{% static 'home/images/service (1).jpg' %}" alt="" />
              </div>
              <h3 class="catalog_name">Catalog Name</h3>
              <div class="catalog_download">
                <button class="btn-download">Download</button>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="catalog">
              <div class="catalog_img">
                <img src="{% static 'home/images/service (2).jpg' %}" alt="" />
              </div>
              <h3 class="catalog_name">Catalog Name</h3>
              <div class="catalog_download">
                <button class="btn-download">Download</button>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="catalog">
              <div class="catalog_img">
                <img src="{% static 'home/images/service (3).jpg' %}" alt="" />
              </div>
              <h3 class="catalog_name">Catalog Name</h3>
              <div class="catalog_download">
                <button class="btn-download">Download</button>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="catalog">
              <div class="catalog_img">
                <img src="{% static 'home/images/service (3).jpg' %}" alt="" />
              </div>
              <h3 class="catalog_name">Catalog Name</h3>
              <div class="catalog_download">
                <button class="btn-download">Download</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "home/footer.html" %}
{% endblock content %}

{% block js %}

{% endblock js %}